# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Legacy
node_modules/
dist/
coverage/
bin/
obj/
*.user
*.suo
*.sln.dotsettings
.vs/
